name: DesafioStone

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: BuildDocker
      run: docker build -t api -f DockerfileTest
    - name: RunDocker
      run: docker run api
